*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Super Retro M54";
}

img{
    max-width: 320px;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
}

.wrapper{
    margin: 15px auto;
    width: 70%;
}

.text-box{
    color: white;
}

.text-box h1{
    font-weight: 3px;
    font-size: 30px;
}

.text-box p{
    font-size: 18px;
    font-family: "perpetua";
}

body{
    background-color: #726953;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.main{
    width: 1170px;
    margin: 0 auto;
}

.main ul{
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;
}

.main ul li{
    float: none;
    display: inline-block;
}

.main ul li:nth-child(1){float: left;}
.main ul li:nth-child(2){float: left;}
.main ul li a{
    font-size: 20px;
    font-weight: 3px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: "Super Retro M54";
    padding: 5px 20px;
    color: white;
}

.main ul li a:hover{transition: 1s;
    background-color: white;
    border-radius: 5px;
    color: #726953;
}

#navbar{
    position: relative;
    background-color: #726953;
    padding: 20px;
}

.logo{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 0%;
    margin-left: -50px;
    top: 5px;
}

.socialicons{
    display: flex;
    justify-content: left;
    align-items: left;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effect on Social Media Icons */
.socialicons a:hover{
    background-color: white;
    transition: .5s;
}

.socialicons a:hover i{
    color: #726953;
    transition: 0.5s;
}